body{
  color: red;
  text-align: center;
  background-color:white;
  background-image: url("https://www.climbing.com/.image/t_share/MTUyMDU3NzkyOTgxNjQwNjg2/_sp_5503_gn-web.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
h1 {
  font-family:arial;
  font-size: 20pt;
}
.tblock { 
    border: solid;
    border-color: black;
    width: 400px;
    text-align: center;
    background-color: #8cafff;
    margin: auto;
    margin-top: 100px;
    color:#red;
    padding: 15px;

.myname { 
   text-decoration: underline;
  }
  
.middle {
  height:130px;
  margin: auto;
}

.para {
    border: solid;
    border-color: black;
    width: 500px;
    height: 128px;
    text-align: left;
    background-color: #0c2233;
    color:#3992d6;
}